<a href="https://colab.research.google.com/github/ShohruhShokulov/mohirdev_datascience_AI/blob/main/Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df = pd.read_csv("/kaggle/input/earthquake-dataset/earthquake_data.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/earthquake-dataset/earthquake_data.csv'

## Datetime

In [ ]:
import datetime as dt

In [ ]:
now = dt.datetime.now()

In [ ]:
type(now)

datetime.datetime

In [ ]:
print(now)

2024-03-22 16:13:47.408400

In [ ]:
now.hour

16

In [ ]:
now.minute

13

In [ ]:
now.weekday()

4

In [ ]:
now.month

3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   777 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 116.2+ KB

In [ ]:
df.head(3)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.0,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.0,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.0,-20.0508,-178.346,NaN,Oceania,Fiji

In [ ]:
df.at[0,'date_time']

'22-11-2022 02:03'

In [ ]:
date.hour

AttributeError: 'str' object has no attribute 'hour'

In [ ]:
pd.to_datetime(df['date_time'])

/tmp/ipykernel_33/4049121273.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(df['date_time'])

0     2022-11-22 02:03:00
1     2022-11-18 13:37:00
2     2022-11-12 07:09:00
3     2022-11-11 10:48:00
4     2022-11-09 10:14:00
              ...
777   2001-01-13 17:33:00
778   2001-01-10 16:02:00
779   2001-01-09 16:49:00
780   2001-01-01 08:54:00
781   2001-01-01 06:57:00
Name: date_time, Length: 782, dtype: datetime64[ns]

In [ ]:
df['date_time'].str.len().value_counts()

date_time
16    782
Name: count, dtype: int64

In [ ]:
df['Datetime'] = pd.to_datetime(df['date_time'],format='%d-%m-%Y %H:%M')
df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country,Datetime
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands,2022-11-22 02:03:00
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN,2022-11-18 13:37:00
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji,2022-11-12 07:09:00
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN,2022-11-11 10:48:00
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN,2022-11-09 10:14:00

In [ ]:
df.at[0,'Datetime']

Timestamp('2022-11-22 02:03:00')

In [ ]:
df.at[0,'Datetime'].weekday()

1

In [ ]:
# getting only months from the Datetime
df['month'] = df['Datetime'].dt.month
df['month'].value_counts()

month
11    80
9     80
4     77
1     70
10    69
8     68
3     63
2     63
5     58
7     56
12    56
6     42
Name: count, dtype: int64